.App {
  text-align: center;
  background-color: rgb(83, 77, 155);
  color: #61dafb;
}
.coin-table{
  margin: 50px auto;
  display: inline-block;
  font-size: 1.3rem;
}

.App-logo {
  height: 6rem;
  pointer-events: none;
  animation: App-logo-spin infinite 30s linear;
}
.App-logo-2{
  height: 6rem;
  pointer-events: none;
  animation: App-logo-spin infinite 30s linear;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-title {
  font-size: 3rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
